# Arquivos de sistema
.DS_Store
Thumbs.db
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ambientes virtuais
.venv/
venv/
env/

# Logs e caches
*.log
*.tmp
.cache/
*.egg-info/

# Dados grandes (não versionar!)
*.parquet
*.csv
*.xlsx

# Modelos treinados grandes
*.pkl

# Streamlit
.streamlit/
